/** _global.scss */

/** colores */
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;

/** fuentes */
$font-title: "Alegreya", serif;

/** placeholders */
%base-title {
  font-family: $font-title;
  color: $dark-green-text;
}



$linkColor: #67b54b;

$TextCard : #4a4a4a;

$TextCardSize: 24px;

$PCardSize: 18px;