h1{
    color: #025157;
}

h2{
    color:#64380f;
}

button{
    
    color: rgb(240, 224, 224);
    background-color: #025157;
}

body{
    background-color: #fdf8f3;
}


li {
    display: inline;
}

.header > * {
    display: inline-block; }

  .header {
    font-size: 0;
    margin: 40px 20px 20px;
    height: 45px;
    font-family: sans-serif;
  } 
  

  
  .header > * {
    display: inline-block;
    font-size: 16px;
  }

  .logo > img {
    height: 100%;
  }

  .navbar {
    height: 45px;
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
    font-style: sans-serif;
    
  }

  .navbar li{
      padding: 25px;
      color: #025157;
  }
  
  .actions {
    height: 45px;
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    
    
  }
  .actions a{
        color: #67b54b;
        padding: 10px;
    }

   .actions button{
        color: rgb(240, 224, 224);
        background-color: #67b54b;
        padding: 14px 14px 12px 12px;
        border: 0;
        border-radius: 5px;
}


.video h2 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.video h4{
  color: #025157;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.video > p{
  color: #343434;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;

}

.video button {
  color: rgb(240, 224, 224);
  background-color: #025;
  padding: 14px 14px 12px 12px;
  border: 0;
  border-radius: 5px;
}

.VideoForms {
  display: flex;
}

.VideoForms label{
  padding: 10px;
}

.VideoForms input{
  padding: 5px;
}

.VideoForms  p{
  color: #025157;
  margin-right: 20px;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto; 
  align-items: center;
  gap: 12px;
}

.flex-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

main {
  margin-top: 285px;
  text-align: center;
}