h1{
    color: #025157;
}

h2{
    color:#64380f;
}

button{
    
    color: rgb(240, 224, 224);
    background-color: #025157;
}

body{
    background-color: #fdf8f3;
}


li {
    display: inline;
}

.header > * {
    display: inline-block; }

  .header {
    font-size: 0;
    margin: 40px 20px 20px;
    height: 45px;
    font-family: sans-serif;
  } 
  

  
  .header > * {
    display: inline-block;
    font-size: 16px;
  }

  .logo > img {
    height: 100%;
  }

  .navbar {
    height: 45px;
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
    font-style: sans-serif;
    
  }

  .navbar li{
      padding: 25px;
      color: #025157;
  }
  
  .actions {
    height: 45px;
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    
    
  }
  .actions a{
        color: #67b54b;
        padding: 10px;
    }

   .actions button{
        color: rgb(240, 224, 224);
        background-color: #67b54b;
        padding: 14px 14px 12px 12px;
        border: 0;
        border-radius: 5px;
}

/* Sección del video*/

.video h2 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.video h4{
  color: #025157;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.video > p{
  color: #343434;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;

}

.video button {
  color: rgb(240, 224, 224);
  background-color: #025;
  padding: 14px 14px 12px 12px;
  border: 0;
  border-radius: 5px;
}

.VideoForms {
  display: flex;
}

.VideoForms label{
  padding: 10px;
}

.VideoForms input{
  padding: 5px;
}

.VideoForms  p{
  color: #025157;
  margin-right: 20px;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto; 
  align-items: center;
  gap: 12px;
}

.flex-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

main {
  margin-top: 285px;
  text-align: center;
}



/*Sección del carrucel de empresas*/

.empresas {
  background-color: #a1d683;
  display: flex;
  padding: auto;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 2% 10%;

}

.informacion{
  width: 60%;
}

.informacion h3 {
  color: #025157;
  font-size: 50px;
  line-height: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.informacion p{
  color: #64380f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 2.0;
  }


.informacion img{
  width: 450px;
  max-width: 100%;
}

.informacion button{
  color: rgb(240, 224, 224);
  background-color: #025;
  padding: 14px 14px 12px 12px;
  border: 0;
  border-radius: 5px;
}


.carrucel {
  width: 100%;
  max-width: 330px;
  background-color: #fdf8f3;
}

.imagenescarrucel{
  position: relative;
}

.CarrucelFace{
  width: 50px;
  max-height: 50%;
  z-index: 0;
}

.LogoCarrucel{
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-color: #e6b30c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoCarrucel img{
  width: 100%;
  max-height: 16vw;

}

.carrucel button{
  color: rgb(240, 224, 224);
  background-color: #025;
  padding: 14px 14px 12px 12px;
  border: 0;
  border-radius: 5px;
}

/*Retro 4 sesion 4*/

.features{
  display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    height: 660px;
    background-color: #025157;
    
      /*Formas de declaraciones*/
            /*grid-template-columns: 500px,1fr;*/
            /*grid-template-columns: 300px 300px;*/
            /*grid-template-columns: 1fr 1fr;*/
            /*grid-template: repeat(2, 1fr) / repeat(2, 330px);*/
            /*grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 330px);*/
}

.feature-art{
  display: flex;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  width: 30%;
  height: 60px;
  
}

.feature-art h3{
  color: #64380f;
}

.feature-art a{
  color: #67b54b;
}



















